<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by name"
          [(ngModel)]="name"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            (click)="searchName()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Sodas List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let soda of sodas; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveSoda(soda, i)"
        >
          {{ soda.name }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllSodas()">
        Remove All
      </button>

      <a routerLink="/add"><button class="m-3 btn btn-sm btn-success" >Add Soda</button></a>


    </div>
    <div class="col-md-6">
      <app-soda-details
        [viewMode]="true"
        [currentSoda]="currentSoda"
      ></app-soda-details>
    </div>
  </div>