<div *ngIf="currentSoda.id" class="edit-form">
    <h4>Soda</h4>
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" [(ngModel)]="currentSoda.name" name="name" readonly />
        </div>
        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" [(ngModel)]="currentSoda.price" name="price" readonly />
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" id="quantity" [(ngModel)]="currentSoda.quantity" name="quantity"
                readonly />
        </div>
    </form>

    <button type="submit" class="badge bg-success mb-2" (click)="purchaseSoda()">
        Purchase
    </button>
    <p>{{ message }}</p>

</div>

<div *ngIf="!currentSoda.id">
    <br />
    <p>Cannot access this Soda...</p>
</div>